Package: qmagneto
Version: 0.1-1
Section: user/tools
Priority: optional
Architecture: armel
Depends: libqt4-core (>= 4.3), libqt4-gui (>= 4.3)
Installed-Size: 324
Maintainer: Jean-Luc Biord <jl.biord@free.fr>
Description: Mon magneto freebox
Xsbc-Original-Maintainer: Bart Martens <bartm@knars.be>
