[Desktop Entry]
Encoding=UTF-8
Name=TV Guide and Recorder 
Name[fr]=Guide TV et Enregistreur
Exec=qmagneto
Icon=logo_qmagneto
GenericName=QMagneto
Terminal=false
Type=Application
Categories=AudioVideo;Player;
