[Desktop Entry]
Encoding=UTF-8
Name=QMagneto
Comment=TV Guide and Recorder 
Comment[fr]=Guide TV et magneto pour Box
Exec=qmagneto
Icon=logo_qmagneto
GenericName=QMagneto
Terminal=false
Type=Application
Categories=AudioVideo;Player;
