Source: qmagneto
Section: graphics
Priority: optional
Maintainer: Jean-Luc Biord <jlbiord@gmail.com>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5), libqt4-dev
Standards-Version: 3.8.4

Package: qmagneto
Architecture: any
Depends: libqt4-core (>= 4.3), libqt4-gui (>= 4.3), libqt4-sql (>= 4.3), libqt4-sql-sqlite (>= 4.3), ${misc:Depends}
Description: QMagneto is an EPG (Electronic Program Guide) which displays current and future TV programs. It can also program the recording of broadcasts by calling an external program like VLC or mencoder. It is possible to record programs from a BOX (French Neufbox or Freebox) or a DVB-T device.
 
